.App {
  margin:0;
  padding:0;
  background-color: rgb(220, 220, 220);
}
.ol{
  margin:0;
  transform:translateX(-90px);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#my-video{
  object-fit:cover;
  width:100vw;
  height:100vh;
  top:0;
  bottom:0;
  z-index:-1;
}